[submodule "SharedKB"]
	path = SharedKB
	url = git@github.com:KNOT-FIT-BUT/SharedKB.git

[submodule "libs/namegen"]
	path = libs/namegen
	url = git@github.com:KNOT-FIT-BUT/namegen.git
        branch = devel
